// Fonts
$primary-font: "Heebo", sans-serif;

// Colors
$primary-text: rgb(11, 15, 78);
$paragraph-text: rgb(156, 156, 156);

$red: rgb(234, 83, 83);
$cyan: rgb(69, 211, 211);
$orange: rgb(252, 175, 74);
$blue: rgb(84, 158, 242);
